<div class="footer wf-section">
	<div class="container w-container">
		<div class="w-layout-grid footer-grid">
			<div id="w-node-eb877acc-a4f4-5702-f530-d584947a2e0e-036ecffb">
				<a id="w-node-_271ba80e-40cf-740e-803b-3fce036ecffe-036ecffb" href="#"
					class="footer-brand w-inline-block siteTitle" style="color: white; font-size: 2.5rem;">
					Xpress Coaching
				</a>
				<div id="w-node-_271ba80e-40cf-740e-803b-3fce036ed005-036ecffb" class="footer-menu">
					<div id="w-node-db6e0f8c-98df-c73e-06be-bd04c7b42a16-036ecffb"><a href="/" aria-current="page"
							class="footer-link w--current">Home</a></div>
					<div id="w-node-b49995bb-f7ee-2c08-6775-f90c20352696-036ecffb"><a href="/about"
							class="footer-link">About</a></div>
					<!-- <div id="w-node-ece92701-b9e2-8fd7-83ab-d1b799c4093c-036ecffb"><a href="/contact"
							class="footer-link">Contact</a></div> -->
				</div>
			</div>
			<div id="w-node-_1747dfbb-2723-1515-bfad-7b7ea62f188e-036ecffb">
				<div id="w-node-_271ba80e-40cf-740e-803b-3fce036ed001-036ecffb" class="social-text-div">
					<div class="footer-text">Socials</div>
				</div>
				<div class="social-div">
					<a href="https://twitter.com/" target="_blank" class="social-link w-inline-block">
						<img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f759e65fd9e1f7102d03e_icons8-twitter%20(2).svg"
							loading="lazy" alt="twitter icon" class="social-icon-svg" />
					</a>
					<a href="https://www.facebook.com/" target="_blank" class="social-link w-inline-block"><img
							src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f759ef11e03fced2a642a_icons8-facebook-f%20(1).svg"
							loading="lazy" alt="linkedin icon" class="social-icon-svg" />
					</a>
					<a href="https://www.linkedin.com/" target="_blank" class="social-link w-inline-block"><img
							src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f759e116ccf35d3243457_icons8-linkedin-2%20(1).svg"
							loading="lazy" alt="linkedin icon" class="social-icon-svg" />
					</a>
				</div>
			</div>
			<div id="w-node-_271ba80e-40cf-740e-803b-3fce036ed004-036ecffb" class="right-copywright-div">
				<div id="w-node-_271ba80e-40cf-740e-803b-3fce036ed017-036ecffb" class="copywright-div">
					<div class="copyright-text">
						Copyright © 2022 . All rights reserved.
						<!-- <a href="https://www.webflow.com" class="footer-copyright-link">Webflow</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>