<div class="top-div">
	<div class="container w-container">
		<div class="w-layout-grid top-grid">
			<div id="w-node-c0280081-5519-5123-ecc1-8315fe5890d3-58cd4bef" class="top-navbar-left">
				<!-- social links -->
				<div class="social-div">
					<a href="https://www.facebook.com/1financeblog/" target="_blank" class="nav-social-link w-inline-block">
						<img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f754a33de4c1932c00a07_icons8-facebook-f.svg"
							loading="lazy" alt="linkedin icon" class="social-image" />
					</a>
					<a href="https://www.twitter.com/onefinanceblog" target="_blank" class="nav-social-link w-inline-block">
						<img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f6e077de2381ef8db5c15_icons8-twitter.svg"
							loading="lazy" alt="linkedin icon" class="social-image" />
					</a>
					<a href="https://www.linkedin.com/company/onefinanceblog/" target="_blank" class="nav-social-link w-inline-block">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="0 0 30 30" style="width: 1.5em;">
							<g id="surface146672296">
								<path style="stroke:none;fill-rule:nonzero;fill: rgb(0,0,0);fill-opacity:1;"
									d="M 9 25 L 4 25 L 4 10 L 9 10 Z M 6.5 8 C 5.117188 8 4 6.878906 4 5.5 C 4 4.117188 5.121094 3 6.5 3 C 7.878906 3 9 4.121094 9 5.5 C 9 6.878906 7.878906 8 6.5 8 Z M 27 25 L 22.191406 25 L 22.191406 17.699219 C 22.191406 15.960938 22.160156 13.71875 19.695312 13.71875 C 17.191406 13.71875 16.804688 15.617188 16.804688 17.574219 L 16.804688 25 L 12 25 L 12 9.988281 L 16.613281 9.988281 L 16.613281 12.039062 L 16.679688 12.039062 C 17.320312 10.859375 18.890625 9.617188 21.230469 9.617188 C 26.101562 9.617188 27 12.726562 27 16.765625 Z M 27 25 " />
							</g>
						</svg>
					</a>
				</div>
				<!-- search form -->
				<!-- <form action="/search" id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf2-58cd4bef" class="search w-form">
					<input type="search" class="search-input w-input" maxlength="256" name="query" placeholder=""
						id="search" required="" />
					<input type="submit" value="" class="search-button w-button" />
				</form> -->
			</div>
			<!-- Site Name -->
			<a href="/" aria-current="page" class="brand w-nav-brand w--current siteTitle h-text-black">
				<!-- <img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630e044bdd57f25c23d6adb0_The-daily-work-logo.svg"
					loading="lazy" id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf6-58cd4bef" alt=""
					class="logo-image" /> -->
				One Finance
			</a>
			<!-- links -->
			<div id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf7-58cd4bef">
				<div class="w-layout-grid _2-column-top-grid">
					<a href="/about" class="top-link">About</a>
					<% if(user){ %>
						<a href="/auth/logout" class="top-link text-center"><i class="fa fa-2x fa-sign-out"></i></a>
						<% } %>
							<!-- <a href="/contact" class="top-link">Contact</a> -->
				</div>
			</div>
		</div>
	</div>
</div>