<div class="top-div">
	<div class="container w-container">
		<div class="w-layout-grid top-grid">
			<div id="w-node-c0280081-5519-5123-ecc1-8315fe5890d3-58cd4bef" class="top-navbar-left">
				<!-- social links -->
				<div class="social-div">
					<a href="https://www.facebook.com/" target="_blank" class="nav-social-link w-inline-block">
						<img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f754a33de4c1932c00a07_icons8-facebook-f.svg"
							loading="lazy" alt="linkedin icon" class="social-image" />
					</a>
					<a href="https://twitter.com/" class="nav-social-link w-inline-block">
						<img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630f6e077de2381ef8db5c15_icons8-twitter.svg"
							loading="lazy" alt="linkedin icon" class="social-image" />
					</a>
				</div>
				<!-- search form -->
				<!-- <form action="/search" id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf2-58cd4bef" class="search w-form">
					<input type="search" class="search-input w-input" maxlength="256" name="query" placeholder=""
						id="search" required="" />
					<input type="submit" value="" class="search-button w-button" />
				</form> -->
			</div>
			<!-- Site Name -->
			<a href="/" aria-current="page" class="brand w-nav-brand w--current siteTitle h-text-black">
				<!-- <img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630e044bdd57f25c23d6adb0_The-daily-work-logo.svg"
					loading="lazy" id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf6-58cd4bef" alt=""
					class="logo-image" /> -->
					Global Finance
			</a>
			<!-- links -->
			<div id="w-node-_633dde5f-04f1-7b1f-8b4b-eb0c58cd4bf7-58cd4bef">
				<div class="w-layout-grid _2-column-top-grid">
					<a href="/about" class="top-link">About</a>
					<!-- <a href="/contact" class="top-link">Contact</a> -->
				</div>
			</div>
		</div>
	</div>
</div>