<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
	role="banner" class="navbar w-nav">
	<div class="nav-container w-container">
		<!-- btn to open nav -->
		<div class="menu-button w-nav-button">
			<div class="w-icon-nav-menu"></div>
		</div>
		<!-- site title -->
		<a href="/" aria-current="page" class="brand hide w-nav-brand w--current siteTitle" style="font-size: 1.4em;">
			<!-- <img src="https://assets.website-files.com/62961e0b9edf3034fa4a43b2/630e044bdd57f25c23d6adb0_The-daily-work-logo.svg"
				loading="lazy" id="w-node-_6c2c4621-f302-8922-dbb8-fa94e81def59-e81def54" alt="" class="logo-image" /> -->
				Global Finance
		</a>
		<!-- nav -->
		<nav role="navigation" class="nav-menu-2 w-nav-menu">
			<!-- <div class="w-dyn-list">
				<div role="list" class="nav-menu w-dyn-items">
					<div role="listitem" class="w-dyn-item"><a href="/category/travel"
							class="nav-link w-nav-link">Travel</a></div>
					<div role="listitem" class="w-dyn-item"><a href="/category/food"
							class="nav-link w-nav-link">Food</a></div>
					<div role="listitem" class="w-dyn-item"><a href="/category/opinion"
							class="nav-link w-nav-link">Opinion</a></div>
					<div role="listitem" class="w-dyn-item"><a href="/category/life"
							class="nav-link w-nav-link">Life</a></div>
					<div role="listitem" class="w-dyn-item"><a href="/category/design"
							class="nav-link w-nav-link">Design</a></div>
					<div role="listitem" class="w-dyn-item"><a href="/category/technology"
							class="nav-link w-nav-link">Technology</a></div>
				</div>
			</div> -->
			<div class="w-layout-grid _2-column-top-grid hide-on-desktop">
				<a href="/" class="top-link">Home</a>
				<a href="/about" class="top-link">About</a>
				<!-- <a href="/contact" class="top-link">Contact</a> -->
			</div>
			<!-- <form action="/search" class="search ipad w-form">
				<input type="submit" value="" class="search-button w-button" />
				<input type="search" class="search-input w-input" maxlength="256" name="query" placeholder=""
					id="search" required="" />
			</form> -->
		</nav>
	</div>
</div>