<div class="newsletter">
	<div class="container w-container">
		<div class="subscribe-title-div">
			<h1 class="h1 white">Enjoying what you see?</h1>
		</div>
		<div class="_500-px-div">
			<div class="white-subtext">Take a minute to share our contents to your friends</div>
		</div>
		<!-- <div class="form-block w-form">
			<form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"><input
					type="email" class="text-field email w-input" maxlength="256" name="email"
					data-name="Email" placeholder="Email" id="email" required="" /><input type="submit"
					value="Subscribe" data-wait="Please wait..."
					class="submit-button _10-px-left-margin w-button" /></form>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="white-subtext w-form-fail">
				<div>Oops! Something went wrong while submitting the form.</div>
			</div>
		</div> -->
	</div>
</div>

<!-- <div class="newsletter">
	<div class="container w-container">
		<div class="subscribe-title-div">
			<h1 class="h1 white">Enjoying what you see?</h1>
		</div>
		<div class="_500-px-div">
			<div class="white-subtext">Take a minute to join our newsletter</div>
		</div>
		<div class="form-block w-form">
			<form id="email-form" action="/mail/newslatter" name="email-form" data-name="Email Form" method="post" class="form">
				<input type="email" class="text-field email w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required="" />
				<input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button _10-px-left-margin w-button" />
			</form>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="white-subtext w-form-fail">
				<div>Oops! Something went wrong while submitting the form.</div>
			</div>
		</div>
	</div>
</div> -->