<div class="text-strip">
	<div class="looping-text">
		<div class="w-dyn-list">
			<div role="list" class="collection-list w-dyn-items">
				<% blogs.forEach(blog => { %>
					<div role="listitem" class="w-dyn-item">
						<a href="/blogs/<%= blog.slug %>" class="scrolling-link"><%= blog.title %></a>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
	<div class="looping-text">
		<div class="w-dyn-list">
			<div role="list" class="collection-list w-dyn-items">
				<% blogs.forEach(blog => { %>
					<div role="listitem" class="w-dyn-item">
						<a href="/blogs/<%= blog.slug %>" class="scrolling-link"><%= blog.title %></a>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>