<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/client/images/icons/apple-touch-icon.png?v01=gf">
	<link rel="icon" type="image/png" sizes="32x32" href="/client/images/icons/favicon-32x32.png?v01=gf">
	<link rel="icon" type="image/png" sizes="16x16" href="/client/images/icons/favicon-16x16.png?v01=gf">
	<link rel="manifest" href="/client/images/icons/site.webmanifest?v01=gf">
	<link rel="mask-icon" href="/client/images/icons/safari-pinned-tab.svg?v01=gf" color="#5bbad5">
	<link rel="shortcut icon" href="/client/images/icons/favicon.ico?v01=gf">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Login/Reginster</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/admin/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/admin/vendors/base/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/admin/css/style.css">
	<link rel="stylesheet" href="/admin/css/messageBird.css">
	<!-- endinject -->
</head>

<body>