<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/admin/">
				<i class="ti-shield menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/blog">
				<i class="ti-palette menu-icon"></i>
				<span class="menu-title">Blog</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/users">
				<i class="ti-user menu-icon"></i>
				<span class="menu-title">All Users</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/admin/storage?start=0&stop=20">
				<i class="ti-cloud menu-icon"></i>
				<span class="menu-title">Images</span>
			</a>
		</li>
	</ul>
</nav>